
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>E-Voting Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/static/assets/css/animated.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
             <h4>E Voting</h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{{ url_for('index') }}" class="active">Home</a></li>
              
              <li><div class="gradient-button"><a  href="{{ url_for('loginPage') }}"><i class="fa fa-sign-in-alt"></i> Sign In Now</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  
  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

   
</div>

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>ONLINE VOTING PLATFORM</h2>
                    <p>This application is developed to support the voting in authorised way using blockchain technology</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src=" /static/assets/images/sideview.jpg" alt="video_feed">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Last Election <em>Candidate</em> Votes Information</h4>
            <img src="assets/images/heading-line-dec.png" alt="">
            <p>View the voting rate of each Candidate</p>
          </div>
        </div>
          {% for item in data %}
        <div class="col-lg-4">
          <div class="pricing-item-regular">
           
            <h4>Current Election Id: {{item[0]}}</h4>
            <div class="icon">
              <img src="/static/NomineesImages/{{item[5]}}" alt="">
            </div>
            <ul>
              <li>CA00{{item[1]}}</li>
              <li>{{item[2]}}</li>
              <li>{{item[3]}}</li>
              <li>{{item[4]}}</li>
              
              
            </ul>
            <div class="border-button">
           
              <a href="#">Total Vote Count :{{item[6]}}</a>
             
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> 


  <footer id="newsletter">
    <div class="container">
      
      <div class="row">
        <p>E-voting application using facial features</p>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/owl-carousel.js"></script>
  <script src="/static/assets/js/animation.js"></script>
  <script src="/static/assets/js/imagesloaded.js"></script>
  <script src="/static/assets/js/popup.js"></script>
  <script src="/static/assets/js/custom.js"></script>
</body>
</html>